"Tag" nədir
Simvol daxilində {yəni "<></>"} sənədi fomatlamaq üçün istifadə olunur. 
Nümunə:<html></html>;<head></head>;<body></body>;<span></span>;<div></div> vəs.

Frontend adətən html,css,javascriptdən istifaddə edir.Burada Javascript bir proqramlaşdırma dilidir [Javascript saytın dinamikliyini yaradır, yəni saytın hərəkətli hissələrini düzəldir].
Html {Mətinlərin nişanlanması}- saytın skelet hissəsini, Css isə xarici görünüşünü düzəldir[geyimini yəni].

Html'də "Tag"lar bir neçə yerə bölünür:
Yuxarı səviyyəli taglar-> 
<!DOCTYPE html>; <html></html>; <head></head>; <body></body>
<html></html> tagi konteynerdir yəni bütün səhifəni öz daxilində saxlayır.
<head></head> tagi brauzerin işinə kömək edən məlumatların saxlanması istifadə olnur. Axtarış sistemi üçün nəzərdə tutulan informasiyanın saxlanması üçün <head></head> daxilində <meta> taglar yazılır.[Saytın, açar sözlərin və digər məlumatların təsvirinin alınması üçün məhz meta taglardan istifadə olunur.
Tag'in tərkibi vebdə birbaşa əks olunmur. İSTİSNA <title></title> o, veb pəncərə başlığınının adını saxlayır yuxarı hissədə görünür.

Sənədin başlığı taglari->
<head></head> tagi içərisində bu taglari yazmaq olar: <link>;<meta>;<script><style><title>
meta tagi bağlamğa ehtiyac yoxdur.x
<base> head konteyneri daxilində istifadə olunan tagdir. Hal-hazirki sənədin baza məlumatı ilə axtarış sistemini təlimatlandırır.[Nisbi ünvan istifadə edən sənədlər üçün nəzərdə tutlmuşdur.{linkli}
Məsələn:
<base href="https://www.test.com.hzchd/">
göstərilibsə o zaman şəkillərin əlavə olunması üçün nisbi ünvandan istifadə etmək kifayətdir.
<img src="images/labuda.gif">
yuklənəcək şəklin tam ünvanı https://www.test.com/hzchd/images/labuda.gif olaacaq.
Ikinci Nümunə:
<base target="_blank">
<a href="1.html">Bu linke klik elesez bu yeni sehifede acilacaq</a>

<body>elementi veb səhifənin brauzerin pəncərəsində əks etdirilən məzmunun saxlanılması üçün nəzərdə tutulmuşdur. Sənəddə çıxarmaq lazım olan informasiyanı məhz body konteynerində göstərmək lazımdır. Belə informasiyalara mətnlər, təsvirlər, teqlər, JavaScript skriptləri və s. aiddir
Body teqində istifadə oluna biləcək atributlar aşağıdakılardır:
background - Veb səhifədə fon şəkili verir.
bgcolor - Veb səhifənin fonun rəngi.
text-color - Sənəddə mətnin rəngi. ves.

Blok elementləri
Blok elementləri HTML-in əsas elementlərindəndir. Blok elementləri yerləşdikləri sətirin bütününü tutan elementlərdir.Elementin hündürlüyü tərkibindəki məlumatlardan asılıdır.Həmçinin bu elementlər həmişə yeni sətirdən başlayaraq təsvir edilir.Əsasən veb səhifənin məntiqli olaraq hissələrə bölünməsinə yardım edir.Məsələn səhifənin başlığı ,menyu,səhifənin en alt hissəsi(footer)
Paraqraf <p>
Paraqraf – Kitablarda mətnin digər parçalarından ayrılaması üçün adətən yeni sətirdən çap edilən bir və ya bir neçə cümlədən ibarət mətn parçasıdır.Paraqraflara bölünmüş mətnləri oxumaq daha rahat olur.Buna səbəb əsasən hər paraqrafda fərqli fikir və ya məntiqin bir hissəsi olur.
Beləliklə mətni paraqraflara ayırmaq üçün <p> teqindən istifadə olunur.Bu element blok elementlərindəndir.
Paraqraf teqinində öz növbəsində aşağıdakı atributları var
align –atributu vasitəsi ilə  sətirdə yerləşmə vəziyyətini təyin etmək olar.Mümkün qiymətləri left,right,center,justify.Align bir qayda olaraq əgər dəyəri daxil edilməyibsə yəni defaultdursa mətn sol tərəf üzrə yerləşdirir.Yəni susmaya görə butun elementlərdə align təyin edilməyibsə mətn align=”left” üzrə yerləşdirilir.
justify- mətnin hər iki tərəfini bərabər edir.

HTML başlıqlar(sərlövhələr) <h1>…<h6>
HTML özündən sonra gələn hissənin əhəmiyyətini göstərən müxtəlif səviyyəli altı başlıq təklif edir. Belə ki, <h1> teqi birinci səviyyənin ən əhəmiyyətli başlığını təşkil edir və <h6> altıncı səviyyənin başlığının işarəsi üçün xidmət edir və ən az əhəmiyyətlidir. Sıralamaya görə, birinci səviyyənin başlığı qalın şəkildə ən böyük şriftiylə əks olunur, Sonrakı başlıqlar isə müvafiq olaraq daha kiçik şriftlə göstərilir. <h1>,…, <h6> teqləri blok elementlərinə aiddirlər, onlar həmişə yeni sətirdən başlanırlar, və onlardan sonra başqa elementlər növbəti sətirdə əks olunur. Bundan başqa, başlıqdan əvvəl (qarşısında) və ondan sonra boş sahə əlavə edilir.
Başlıq teqləri blok elementlərındəndir.

<hr>
Bu tag vasitəsi ilə horizontal  xətt çəkilir. Bu teq blok taglərindəndir.
align -xəttin horizontal yerləşməsini təyin etmək üçün istifadə edilir.
color -xəttin rəngini təyin edir
noshade -xətti 3 ölçülü effektlərsiz çəkmək üçün
size -xəttin qalınlığını təyin etmək üçün
width -xəttin uzunluğunu təyin etmək üçün istifadə edilir.

<div>
<div> elementidə blok elementlərindəndir.Bu teq əsasən əlavə xüsusiyyətlərə malik olmayan  blok elementi tələb olunanda istifadə olunur.

Sətir elementləri
Səhifədə sətir elementləri elə elementlərə deyilir ki həmin elementlər özləri bilavasitə başqa elementlərin tərkib hissəsi olur.Sətır elementinin eni məzmunun həcminə bərabərdir. Blok elementlərindən fərqli olaraq, brauzer xətt elementindən əvvəl və sonra boşluq artırmır, buna görə bir neçə sətir elementi ardıcıl olaraq bir xəttə yerləşdirilir və lazım olduqda başqa bir sətirə köçürülür. Çox hallarda, sətir elementləri içərisində digər sətir elementlərini yerləşdirmək olar  amma sətır elementləri içərisində blok elementləri əlavə etmək qadağandır.
<a> elementi HTML-in  əsas elementlərindən biridir.Bu teqdən bir səhifədən başqa səhifəyə keçmək üçün  istinad(link) yaradılması zamanı istifadə edilir.<a> teqi arasına yazılmış yazı istinadın adı rolunu oynayır.Xarici görünüşdən ilk olaraq bu yazını başqa yazılardan ayırd etmək olur səhifədə.Bu yazı alt xətli olur və üzərinə gətirdikdə mouse-un işarəsi əl formasına cevrilir.İstinadlar (bağlantılar) brouzerdə əsasən aşağıdakı rənglərdə çıxır.
download -bu atribut klik olunarkən istinad olunan faylın endirilməsi üçündür
<a href="sun.png" download>  

<span> teqi sətir elementlərindən olub  tərkibində mətn saxlayan  konteynerdir.Əsasən blok elementlərinə təsir etmədən daxilindəki  mətn hissələrinin stilini dəyişmək üçün istifadə edilir.Bu teqin istifadəsi ilə bağlı bir neçə nümunə
mətnin bir hissəsinin rəng,ölçü və şriftinin dəyişməsi üçün
mətnin fonuna rəng və ya şəkill artırmaq üçün
mətn fraqmentinin çərçivəyə alınıb kölgə verilməsi üçün
skript vasitəsi ilə tərkibinin manipulyasiyası

<b> teqi HTML –in sətir elementlərindən biridir.Bu teq vasitəsi ilə mətndə müəyyən söz və söz birləşmələri daha qabarıq oxunması üçün qalın şriftlə təsvir edilir.
<u> teqinin tərkibindəki mətn alt xəttli təsvir edilir.Bu teq də sətir elementlərindəndir.
<i> teqindən mətndə məsələn terminləri,başqa dildən frazaları təsvir etmək üçün istifadə edilir. Tərkibindəki mətn kursivlə(maili) təsvir edilir.
<p>Pishiyin gözu <b>mavidir</b></p>   
<p><i>HTML</i>nişanlama dilidir</p>  
<p><u>Bu yazi</u>xətalıdır</p>

<sub> teqi yazını yerləşdiyi sətrin baza xəttindən daha aşağıda təsvir edilməsi üçündür.Əsasən düsturların yazılması zamanı istifadə etmək olar
<sup> teqi tam tersinə baza xəttindən daha yuxarıda təsvir eləmək üçün işə yarayır.Məsələn ədədlərin üstünü qeyd etmək üçün
Hər iki teq sətir elementlərindəndir
<p><b>Ferma Teoremi</b></p>
<p><i>X <sup><small>n</small></sup> + Y <sup><small>n</small></sup> = Z <sup><small>n</small></sup></i></p>  
<p>hardakı n tam ededi > 2</p>  
<p>СН<sub>3</sub>СНО + NH<sub>2</sub>OH=CH<sub>3</sub>C(=NOH)H + H<sub>2</sub>O</p>

<select> –HTML-də açılan siyahıların(combobox) yaradılması üçün istifadə edilir.Bu teq öz növbəsində 2 və daha artıq <option>(açılan siyahının elementləri) teqinden ibaret olur.Siyahının eni elementlərin en uzunun ölçüsü ilə təyin edilir.
Atributları
disabled—bütün siyanı passiv etmək üçün .əgər bu atribut daxil edilibsə siyahı açılmır
multiple—siyahıdan bir neçə element seçməyə imkan yaradır
size –acılan siyahının göstərə biləcəyi element sayı.Əgər siyahıda daha çox element varsa o halda avtomatik olaraq siyahının  yanına sürüşdürmək(scroll) üçün alət yerləşdirilir.
Həmçinin ümumi istifadə olunan atributlar və hadisələrdə istifadə edilə bilər
<select>
<option value="volvo">Volvo</option>  
<option value="saab">Saab</option>  
<option value="opel">Opel</option>  
<option value="audi">Audi</option>  
</select>

<audio> Səs fayllarının səhifəyə əlavə edir.Brouzerlər bəzi audio fayl formatlarını dəstəkləmədikləri üçün bir neçə fayl formatında təsvir eləmək daha yaxşı olar. Bunun üçün source teqindən istifadə edilir.Teqin tərkibinə yazılan yazı ancaq və ancaq fayl formatı brouzer tərəfindən taninmadıqda təsvir ediləcək
Atributları
autoplay– fayl yuklənməsi başa çatan kimi audio fayl ifa olunsun
controls-audio faylın ifası zamanı kontrol düymələrinin göstərilməsi üçün.pause play stop
loop-ifa bitdikdən sonra yenidən başdan başlasın
preload-autoplay atributu təyin edilməyəndə brouzerin ne edeceyini təyin edir dəyərləri
auto səhifə yüklənən kimi audio fayl yüklənəcək
metadata audio fayl haqqında meta məlumatlarının yığılması.faylın ölçüsü,audio səsinin uzunluğu,ilk kadr və s.
none audio faylın yüklənməsi ancaq və ancaq ifa et(play) düyməsi basılandan sonra baş verəcək
Qeyd. autoplay və preload atributlarının eynni zamanda isitfadəsi zamanı preload atributu ignore ediləcək.
src-audio faylın ünvanını mütləq və ya nisbi ünvanla göstərir.
Həmçinin ümumi istifadə olunan atributlar və hadisələrdə istifadə edilə bilər
<audiocontrols="controls">  
<source src="song.mp3" type="audio/mp3">  
sizin brouzeriniz mp3 mahni fayllarını desteklemir  
</audio>

<button> Düyməni yaradır.
<em> Mətndə əhəmiyyət kəsb edən bir hissənin təsviri üçün istifadə edilir.Görünüş olaraq <i> teqi ilə eynidir.

<img> teqi GIF, JPEG və ya PNG qrafik formatlarında təsvirlərin veb səhifəsində təsviri üçün nəzərdə tutulmuşdur. Şəkil faylınım ünvanı src atributu vasitəsilə təyin edilir. Əgər şəkili başqa bir linkə yönəlmə kimi istifadə eləmək lazımdırsa onda teqi <a> teqi arasına yerləşdirmək lazımdır. Bu halda təsvirin ətrafında çərçivə əks olunur.Çərçivəni götürmək və ya qalınlığını tənzimləmək üçün border atributunu əlavə eləmək lazımdır.
<img src="test.jpg">
Şəkil əgər hansısa qovluğun içində və ya bir üst direktoriyada və tamami ilə başqa saytdada yerləşə bilər.
Başqa qovluqda — <img src="folder/test.jpg">
Bir üst direktoriyada — <img src="../test.jpg">
Başqa saytda —<img src="http: //cybernet.az/images/synergy_logo_az.png">
Şəkillərin yerləşdirilməsi zamanı istifadə edilə biləcək atributlar aşağıdakılardır.
align -Şəkilin ətrafdakı elementlərə nisbətən yerləşmə vəziyyətini təyin edir.Dəyərləri top,bottom,middle, left,right,
alt -Şəkilin qisa adı.Brouzer şəkili göstərə bilməyəyəndə bu yazını istifadə edir
vspace- Vertikal olaraq şəkilin yuxarısında və aşağısında buraxılacaq boşluğun piksellə ölçüsünü vermək üçün
hspace -Horizontal olaraq şəkilin sağında və solunda buraxılması tələb olan boşluğun piksellə qalınlığını vermək üçün
width -Şəkilin enini pikselle təyin etmək üçün
height -Şəkilin hündürlüyünü pikselle təyin etmək üçün
border -Şəkil ətrafındakı çərçivənin qalınlığı bu atribut vasitəsi ilə tənzimlənir.
usemap -Xəritələrin şəkillə əlaqələndirilməsi üçün.Bu atributu a və ya button teqinin tərkibində olanda istifadə eləmək olmaz
ismap -Brouzere şəkilin serverdəki xəritənin bir hissəsi olduğunu göstərir.Şəkil üzərinə basılarkən basılma koordinatlari URL-də servərə göndərilir.Bu atribut ancaq və ancaq və button teqlərinin tərkibində olarkən istifadə eləmək olar.
Şəkillərin eni və uzununun təyin edilməsi çox vacibdir.Əgər daxil edilməyibsə brouzer özü ölçünü götürməyə çalışır.

Bundan başqa şəkili bütün səhifənin arxa fonu kimi istifadə etmək istədikdə həmin şəkili body teqinde background atributu olaraq göstərmək lazımdır.
<body background="test.jpg">

<strong> Çox əhəmiyyətli mətni qalına şriftlə təsvir edir.

<video> Video fayllarının səhifəyə əlavə edir.Brouzerlər bəzi video fayl formatlarını dəstəkləmədikləri üçün bir neçə fayl formatında təsvir eləmək daha yaxşı olar.Bunun üçün source teqindən istifadə edilir.Teqin tərkibinə yazılan yazı ancaq və ancaq fayl formatı brouzer tərəfindən taninmadıqda təsvir ediləcək
Atributları
autoplay– fayl yuklənməsi başa çatan kimi video fayl nümayiş olunsun
controls-video faylın ifası zamanı kontrol düymələrinin,sürüşdürmə aləti(scrool),tam ekran formasında nümayiş düyməsi,səsin artırılıb azaldılması düyməsi və s  göstərilməsi üçün.
loop-ifa bitdikdən sonra yenidən başdan başlasın
height– videonun ekran hündürlüyünu piksellə müəyyən edir
muted-videonun səssiz edir
poster-video yüklənənə qədər göstəriləcək şəklin ünvanı
width – video ekranının enini piksellə təyin edir
src-video faylın ünvanını mütləq və ya nisbi ünvanla göstərir.
preload-autoplay atributu təyin edilməyəndə brouzerin ne edeceyini təyin edir dəyərləri :
auto- səhifə yüklənən kimi video fayl yüklənəcək,     
metadata- video fayl haqqında meta məlumatlarının yığılması.faylın ölçüsü,videonun müddəti,ilk kadr və s.,     
none -video faylın yüklənməsi ancaq və ancaq ifa et(play) düyməsi basılandan sonra baş verəcək
(Qeyd. autoplay və preload atributlarının eynni zamanda isitfadəsi zamanı preload atributu ignore ediləcək)
<video width="400" height="257" controls="controls" poster="video/duel.jpg">  
<source src="movie.ogg" type="video/ogg">  
Sizin brouzer video formatini desteklemir.  
</video>

CSS Still qaydaları
Sellectors(seçicilər)
Sellectorlar bir və ya bir neçə elementi seçərək onlar CSSdə property təyin etməyimiz üçündür. Onların isə müxtəlif növləri vardır: simple selectors, compound selectors, complex selectors, və ya selector lists.
Simple selectors: Bir elementdəki tək şərti göstərir.
div {
background-color:red
}

Simple sellectorlara daxildir:
type selector . <div>
universal selector . *
attribute selector . [target=”_blank”]
class selector: . .buttons
ID selector: . #firstbutton
pseudo-class: . div:hover

Compound selector
Bu seçicilər bir necə Sadə seçicidən ibarət olur(boşluq ilə ayrılmayan seçicilər)
div.hero {
background-color:red
}

Complex selector
Bir neçə sadə və ya compound(mürəkkəb) seçicilərdən ibarətdirlər (boşluq ilə ayrılırlar)
div .hero {
background-color:red
}

Complex seçicilərdə seçilən elementlər bir neçə kombinator vasitəsi ilə əlaqələndirilə bilir. Bu kombinatorlar aşağıdakılardır.
(boşluq) : descendant kombinator . div .background
> : child kombinator div > p
+ : next-sibling kombinator p + img
~ : subsequent-sibling kombinator ul ~ .myclass

Selector list:
vergül ilə ayrılan sadə mürəkkəb və ya qarışıq seçicilərdir.
html,
body {
margin:0;
padding:0;
height:100%;
}

Declaration(deklarasiya)
Deklarasiya CSSdə əyri mötərizələr içərisində yazılan kodlardır. Hər bir deklarasiyanın daxilində elementlər olur və bu elementlər 2 hissədən ibərətdir.
div{
background-color:blue;
1ci hisse-property 2ci hisse value;

Ziddiyyətli CSS qaydaları
1. Sonuncu qaydası
CSS də bir elementə 2 dəfə eyni property təyin etsək o yanlız sonuncu propertyni nəzərə alacaq. Səbəb isə CSS kodları komputer tərəfindən oxunanan zaman onun yuxarıdan aşağıya doğru oxunmasıdır.
div{
background-color:red;
}
div{
background-color:blue;
}
div elementi burada göy rəngdə olacaqdır.

Seçicilərdə olan qarışıqlıq.
Əgər bir seçicinin digərindən öncülüyü varsa həmin seçicidəki properylər nəzərə alınacaq. Aşağıdakı nümunəyə baxaq.

<div id="firstdiv" class="mydiv"> </div>
CSS:
#firstdiv{
background-color:green;
}
div{
background-color:blue;
}
.mydiv{
background-color:blue;
}
Burada div elementi yaşıl rəngdə olacaqdır. Çünki id seçicisi əsas seçici olaraq təyin edilir.

Important flag
!important bayrağını istifadə etdiyimiz zaman biz komputerə mütləq bu propertyni işlət demiş oluruq. Lakin MDNya görə !important istifadə etmək səhfənin debug edilməsini çətinləşdirir. Ona görədə onun istifadəsindən qaçınılmalıdır



